@font-face{
    font-family: Assistant;
    src: url('./fonts/Assistant-Regular.ttf');
}

.city-log ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
}
.city-log ul li{
    flex: auto;
    overflow: hidden;
    text-align: center;
}
.city-log ul li{
    color: rgb(221, 98, 98);
    cursor: pointer;
    font-family: Assistant;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    margin: 0.5em 0;
    max-width: 20%;
    text-decoration: none;
}
.city-log ul li:hover{
    text-shadow: 0 0 2px rgb(192, 123, 123);
}

@media (max-width: 419px){
    .city-log ul li{
        font-size: 13px;
    }
}
@media (min-width: 420px) and (max-width: 479px){
    .city-log ul li{
        font-size: 15px;
    }
}
@media (min-width: 480px) and (max-width: 539px){
    .city-log ul li{
        font-size: 16px;
    }
}